cat <<EOF > .gitignore
# Build artifacts
*.o
*.elf
*.bin
*.map
*.lst
*.dump

# IDE files
.history/

#WSL specific files (don't know other way yet)
*.Identifier

# Ignore any file or folder containing "ctu-file" or "ctu-info" anywhere in the project
**/*ctu-file*
**/*ctu-info*

04_FreeRTOS_Cpp/build/
04_FreeRTOS_Cpp/build_host/


# Jekyll/Ruby specific
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/
bin/
.bundle/

# Python specific (from bootstrap.sh)
.venv/
__pycache__/
*.py[cod]

# OS specific
.DS_Store
Thumbs.db
EOF