name: Cppcheck Linter
on: [push, pull_request]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Cppcheck
        run: sudo apt-get install cppcheck
      - name: Run Cppcheck
        run: |
          cppcheck --error-exitcode=1 \
          --enable=warning,style \
          --std=c11 \
          --inline-suppr \
          --suppress=missingIncludeSystem \
          --suppress=missingInclude \
          --suppress=unusedFunction \
          -I 03_FreeRTOS/App/Inc \
          03_FreeRTOS/App/